*{
box-sizing: border-box;
}
body{
background-color: snow;
font-family: 'Courier New', Courier, monospace;
}
h1{
text-align: center;
}

.container{
width: 100%;
display:flex;
}
.container > div {
border: 1px solid black;
background-color: bisque;
}
.chicken h2{
border: 1px solid black;
width: fit-content;
float: right;
margin-top: 0;
padding: 5px;
background-color:orange ;
}
.content_1 {
clear: both;
padding: 10px;
margin: auto;
line-height: 20px;
}
.beef h2{
float: right;
border: 1px solid black;
width: fit-content;
background-color: cadetblue;
margin-top: 0;
padding: 5px;
}
.content_2 {
clear: both;
line-height: 20px;
margin: auto;
padding: 10px;
}
.sushi h2{
border: 1px solid black;
width: fit-content;
background-color: darkred;
float: right;
margin-top: 0;
padding: 5px;
}

.content_3{
clear: both;
line-height: 20px;
margin: auto;
padding: 10px;

}

/*Desktop version*/
@media only screen and (min-width : 992px){
.container{ 
width: 100%;
justify-content: space-around;
}
.container>div{
width: 31%;
}
}
/*tablet view*/
@media only screen and (min-width : 768px) and (max-width : 991px){
.container{
flex-direction: row;
flex-wrap: wrap;
}
.chicken, .beef{
flex: 48%;
float: left;
}
.beef{
margin-left: 10px;
}
.sushi{
flex: 100%;
float: left;
clear: both;
margin-top: 10px;
}

}
/*Mobile view*/
@media only screen and (min-width: 1px) and (max-width:767px){
    
.container{
flex-direction: column;
}
.container > div{
flex: 100%;
}
.beef, .sushi{
margin-top: 10px;
}
}